.cart-wrapper{
    width:70%;
    margin:5px auto;
    .cart-title{
        border-bottom: 1px solid #000;
        padding-bottom: 20px;
        font-size: 16px;
        
    }
    .cart-items{
        display: flex;
        flex-direction: column;
        img{
            width: 80px;
            margin-right: 10px;
        }
        .cart-item{
            box-shadow: 10px 10px 5px #aaaaaa;
            margin: 30px;
            padding:20px;
            display: flex;
            justify-content: space-between;
            .item-desc{
                flex: 1;
            }
            button{
                display: inline-block;
                width:90px;
                height: 50px;
                border: 0;
                align-self: center;
                background: #2a5ae5;
                color: #fff;
                border-radius: 2px;
                cursor: pointer;
            }

        }
    }
    .total{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 30px;
        box-sizing: border-box;
        span{
            font-weight: bold
        }
        button{
            display: inline-block;
            width:90px;
            height: 50px;
            border: 0;
            background: #2a5ae5;
            color: #fff;
            border-radius: 2px;
            cursor: pointer;
        }
    }
    
}
.order-info{
    display: flex;
    flex-direction: column;
    height: 100%;
    .close-icon {
        position: absolute;
        top: 3px;
        right: 3px;
        cursor: pointer;
      }
    .alert-success{
        background-color: green;
        color: #fff;
        padding: 10px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 5px;
    }
    table{
        border:1px solid #c0c0c0;
        tr{
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #c0c0c0;
            &:last-of-type{
                border-bottom: 0;
            }
            td{
                padding: 10px;
            }

        }
    }
}